@import './assets/styles/variables.scss';
@import './assets/styles/common.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $main-fonts;
  font-size: 14px;
  color: $main-dark;
  line-height: 20px;
}

html {
  scroll-behavior: smooth;
}


a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  display: block;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

button {
  cursor: pointer;
  background-color: inherit;
  color: inherit;
  border: none;

}