@import './variables.scss';

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

.title {
    @include title;
    color: $main-dark;
    position: relative;
    z-index: 10;
}

.subtitle {
    @include subtitle;
    color: $main-dark;
}

.subtitle-dash {
    position: relative;

    &::before {
        position: absolute;
        content: '';
        top: 50%;
        left: -40px;
        width: 40px;
        height: 1px;
        background-color: $main-dark;
        transform: translate(-50%, -50%);
    }
}

.outline-text {
    color: transparent;
    -webkit-text-stroke: 1px #000;
    text-align: center;
}

.outline-text-white {
    -webkit-text-stroke: 1px #fff;

}

.button {
    border: 1px solid rgba(34, 34, 34, 0.3);
    padding: 10px 48px;
    @include fsz14;
    color: $main-dark;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: -15px;
        width: 24px;
        height: 1px;
        background-color: $main-dark;
        transform: translateY(-50%);
        transition: left 0.3s ease;
    }

    &:hover::before {
        left: calc(100% - 14px);
    }
}

.button-white {
    color: $main-white;
    border: 1px solid rgba(255, 255, 255, 0.3);

    &::before {
        background-color: $main-white;
    }
}

.circle-btn {
    width: 40px;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: transparent;
}

.social {
    display: flex;
    justify-content: space-between;
    overflow: hidden;

    &__link {
        width: 30px;
        height: 30px;
        position: relative;
        transition: transform 0.3s ease;

        &-tg {
            &:hover {
                animation: fly-out 1s both;
            }
        }

        &-vk {
            &:hover {
                animation: heart-beat 1s infinite;
            }
        }

        &-yandex {
            &:hover {
                transform: rotateY(180deg)
            }
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }


}

.copy-right {
    border-top: 1.5px solid rgb(34, 34, 34);
    padding: 24px 0px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 135px;


    &__decs {
        color: rgb(34, 34, 34);
        font-family: $second-fonts;
        font-size: 9px;
        font-weight: 400;
        line-height: 12px;

        span {
            font-size: 12px;
            color: #000;
            font-weight: 500;

        }
    }
}

@keyframes heart-beat {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.2);
    }

    50% {
        transform: scale(1);
    }

    75% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes fly-out {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(200px, -200px) rotate(0deg);
    }
}

@keyframes snake {
    0% {
        border-color: #ff5733;
    }

    25% {
        border-color: #ffa333;
    }

    50% {
        border-color: #33ff57;
    }

    75% {
        border-color: #33a3ff;
    }

    100% {
        border-color: #ff5733;
    }
}